<h2>This Album was recorded by <%= @cd_info.artist().name() %></h2>
<h2>Album name: <%= @cd_info.album() %></h2>
<h2>Id: <%= @cd_info.id() %> </h2>
<h2>The following users own: <%= @cd_info.user() %></h2>
