<h1>Enter Username</h1>
<form id="user" action="/home">
  <input id="user" type="text" name="user" class="form-control" placeholder="username">
  <button type="submit" name="button" class="btn btn-lg btn-primary">Login</button>
  <button type="reset" name="button" class="btn btn-lg btn-danger">Reset</button>
</form>
